<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>
        Weelcome to my Site!
    </h1>
    <ul>
        <li>
            thing 1
        </li>
        <li>
            thing 2
        </li>
    </ul>
</body>
</html>